@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    outline: none;
}

body {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;

    color: #F1F1F3;
    background-color: #050706;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    overflow-y: hidden;
}

/* Upper menu */

.calculator-selectors {
    display: flex;
    margin: 40px 0;
}

.calculator-type {
    margin: 0 20px;
    padding: 10px;

    font-size: 20px;
    text-transform: uppercase;

    background-color: #39393C;
    border: 2px solid #39393C;
    border-radius: 15px;

    transition-property: color, background-color, border;
    transition-duration: .3s;
    transition-timing-function: linear;

    cursor: pointer;
}

.calculator-type:hover {
    color: #3476FE;
    background-color: transparent;
    border: 2px solid #3476FE;
}

.calculator-selector__calc-type {
    display: none;
}

/* This style is used for calculator and answer blocks */

.app-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 35px;

    font-size: 20px;

    background-color: #18181A;
    border-radius: 15px;
}

/* This header style is used in calculator and answer blocks */

.app-block__header {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Calculator */

.calculator__separator {
    margin: 18px 0;
    width: 75%;
}

.calculator__body {
    display: flex;
    /* width: 100%; */
    justify-content: space-evenly;
    padding: 15px;

    background-color: #2A2A2C;
    border-radius: 15px;
}

.calculator__left {
    display: flex;
    flex-direction: column;
}

.calculator__right {
    display: flex;
    flex-direction: column;
}

.calculator__row {
    display: flex;
    margin: 5px;
}

.calculator__input {
    margin-right: 3px;

    font-weight: 300;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;

    color: #F1F1F3;
    background-color: #39393C;
    border-color: #39393C;
}

.annuitet-type {
    margin-right: 10px;
}

.amount-input {
    width: 170px;
}

.duration-input {
    width: 40px;
}

.rate-input {
    width: 55px;
}

.calculator__submit-button {
    padding: 10px 25px;

    font-weight: 400;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;

    color: #F1F1F3;
    background-color: #39393C;
    border: 2px solid #39393C;
    border-radius: 5px;

    transition-property: color, background-color, border;
    transition-duration: .3s;
    transition-timing-function: linear;
}

.calculator__submit-button:hover {
    color: #3476FE;
    background-color: transparent;
    border: 2px solid #3476FE;

    cursor: pointer;
}

/* Error */

.error {
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 10px;

    color: rgb(250, 50, 50);
    border: 2px solid rgb(250, 50, 50);
    border-radius: 15px;
}

.error__image {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.error__text {
    font-size: 20px;
}

/* Answer */

.answer {
    margin: 15px;
}

.answer__text {
    margin: 15px 0;
}